/*
 As you use props, the PostCSS plugin
 "jit-props" will add them to the stylesheet.
 see postcss.config.js for more
*/

/*
 open-props normalize isn't required, but makes for a nice base.
 normalize includes light and dark vars for adaptive theming
 */
@import url('open-props/normalize');

@font-face {
    font-display: swap;
    font-family: Manrope;
    font-style: normal;
    font-weight: 200 800;
    src:
        url('../assets/fonts/Manrope/Manrope-Variable.woff2') format('woff2'),
        url('../assets/fonts/Manrope/Manrope-Variable.woff') format('woff'),
        url('../assets/fonts/Manrope/Manrope-Variable.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: Chillax;
    font-style: normal;
    font-weight: 200 700;
    src:
        url('../assets/fonts/Chillax/Chillax-Variable.woff2') format('woff2'),
        url('../assets/fonts/Chillax/Chillax-Variable.woff') format('woff'),
        url('../assets/fonts/Chillax/Chillax-Variable.ttf') format('truetype');
}

:root {
    --font-primary: 'Manrope', var(--font-sans);
    --font-secondary: 'Chillax', var(--font-sans);
    --font-heading: var(--font-secondary);
    --font-body: var(--font-primary);
    --container-width: 500px;
    --color-primary: var(--orange-7);
    --color-secondary: var(--gray-0);
}

:where(body) {
    font-family: var(--font-body);
}

:where(h1, h2, h3, h4, h5, h6) {
    font-family: var(--font-heading);
}

:where(ul, ol),
:where(li) {
    padding: 0;
    list-style: none;
}

:where(a) {
    color: var(--text-1);
}

:where(a:hover) {
    text-decoration: none;
}

/* ------------------
    Objects
------------------ */
.container {
    width: min(var(--container-width), 100%);
    margin-inline: auto;
    padding-inline: var(--size-7);
}

.page {
    display: flex;
    min-height: 100dvh;
    flex-direction: column;

    > :last-child {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
    }
}

/* ------------------
    Components
------------------ */
.header {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding-inline: var(--size-5);
}

.header__title {
    font-size: var(--font-size-5);

    /* font-weight: var(--font-weight-5); */
    grid-column: 2 / 3;
    text-align: center;
}

.breadcrumb {
    display: flex;
    align-items: center;
}

.breadcrumb__icon {
    width: var(--size-5);
    height: var(--size-5);
}

.card {
    display: grid;
    padding: var(--size-5);
    border: var(--border-size-2) solid var(--text-1);
    border-radius: var(--radius-2);
    place-items: center;
}

.card__grid {
    display: grid;
    padding: var(--size-5);
    grid-gap: var(--size-5);
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.play-pause-btn {
    display: grid;
    width: 100px;
    border-radius: var(--radius-round);
    aspect-ratio: 1;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    place-items: center;
}

.play-pause-btn__icon {
    width: var(--size-8);
    height: var(--size-8);
}

/* ------------------
    Utilities
------------------ */
.justify-center {
    justify-content: center;
}

.sr-only {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border-width: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}
