/*
 As you use props, the PostCSS plugin
 "jit-props" will add them to the stylesheet.
 see postcss.config.js for more
*/

/*
 open-props normalize isn't required, but makes for a nice base.
 normalize includes light and dark vars for adaptive theming
 */
@import url('open-props/normalize');

@font-face {
    font-display: swap;
    font-family: Manrope;
    font-style: normal;
    font-weight: 200 800;
    src:
        url('../assets/fonts/Manrope/Manrope-Variable.woff2') format('woff2'),
        url('../assets/fonts/Manrope/Manrope-Variable.woff') format('woff'),
        url('../assets/fonts/Manrope/Manrope-Variable.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: Chillax;
    font-style: normal;
    font-weight: 200 700;
    src:
        url('../assets/fonts/Chillax/Chillax-Variable.woff2') format('woff2'),
        url('../assets/fonts/Chillax/Chillax-Variable.woff') format('woff'),
        url('../assets/fonts/Chillax/Chillax-Variable.ttf') format('truetype');
}

:root {
    --font-primary: 'Manrope', var(--font-sans);
    --font-secondary: 'Chillax', var(--font-sans);
    --font-heading: var(--font-secondary);
    --font-body: var(--font-primary);
}

:where(body) {
    font-family: var(--font-body);
}

:where(h1, h2, h3, h4, h5, h6) {
    font-family: var(--font-heading);
}

/* ------------------
    Components
------------------ */
.header {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding-inline: var(--size-5);
}

.header__title {
    font-size: var(--font-size-5);

    /* font-weight: var(--font-weight-5); */
    grid-column: 2 / 3;
    text-align: center;
}

.breadcrumb {
    display: flex;
    align-items: center;
}

.breadcrumb__icon {
    width: var(--size-5);
    height: var(--size-5);
}
